{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <head>
        <h1>ACERCA DE LA PÁGINA</h1>

    </head>
        <body>
            <h2><i>Un poco de nuestra WEB</i></h2>
            <hr>
                <p1>Nuestra web está pensada para una empresa gráfica que va a trabajar con 3 instancias en principio, <br>
                    <mark>VENDEDORES; CLIENTES; PRODUCTOS.</mark><br>
                    En una empresa que se dedica a la gráfica para poder administrar la información de estás 3 entidades.
                        <br>
                    <hr>
                </p1>
        </body>


{% endblock %}