<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    body{background-color: rgba(144, 186, 196, 0.322);}
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendedor Detalle</title>
</head>
<body>

   
    <p>Nombre del Vendedor : <i>{{ vendedor.nombre }}</i></p>
    <p>Apellido del Vendedor<i>{{ vendedor.apellido }}</i></p>
    <p>Email del Vendedor<i>{{ vendedor.email }}</i></p>
    <p>
        <a href="{% url 'Listvendedor' %}">Regresar</a>
    </p>

    
</body>
</html>